<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/client/activities" method="post">
  <%=  form_tag "/client/activities", method: :post do%>
  <div>
    Name: <input type="text" name="name">  
  </div>

  <input type="submit" value="Create Activity">
</form>
<% end %>