<% if @errors  %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end  %>

<%= form_tag "/client/trip_activities/#{ @trip_activity['id']}", method: :patch do %>
  <div>
    Trip ID: <input type="integer" name="trip_id" value="<%= @trip_activity["trip_id"] %>">
  </div>
  <div>
    Activity ID: <input type="integer" name="activity_id" value="<%= @trip_activity["activity_id"] %>">
  </div>
</form>
<% end  %>