<% if @errors  %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end  %>

<%= form_tag "/client/trip_vibes/#{ @trip_vibe['id']}", method: :patch do %>
  <div>
    Trip ID: <input type="integer" name="trip_id" value="<%= @trip_vibe["trip_id"] %>">
  </div>
  <div>
    Vibe ID: <input type="integer" name="vibe_id" value="<%= @trip_vibe["vibe_id"] %>">
  </div>
</form>
<% end  %>